<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="<%= data.site.favicon %>">  
    
    <title>
      <%= "#{(current_page.data.title || yield_content(:title))&.concat(' | ')}#{data.site.name}" %>
    </title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site", defer: true %>
    <%= yield_content :head %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="logo">
          <a href="/">
            <img src="<%= data.site.logo %>" alt="<%= data.site.name %> Logo">
          </a>
          <a href="/"><h1><%= data.site.name %></h1></a>
        </div>
        <div>
          <button class="menu-toggle" aria-label="Toggle menu">&#9776;</button>
          <nav>
            <ul>
              <% data.site.navigation.each do |nav| %>
                <li><a href="<%= nav.anchor %>"><%= nav.label %></a></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

<footer>
  <div class="main">
    <h2><%= data.site.name %></h2>
    <a href="/#reservation" class="button">Reserve A Table</a>
    <hr />
    <p><%= data.site.footer.address %></p>
    <p><%= data.site.footer.phone %></p>
    <div class="social">
      <% data.site.footer.socials.each do |social| %>
        <a href="<%= social.url %>" aria-label="<%= social.platform %>">
          <img src="<%= social.icon %>" alt="<%= social.platform %> Icon" />
        </a>
      <% end %>
    </div>
  </div>
  <p>
    <%= data.site.footer.copyright %> <span id="year"></span>
    &nbsp;|&nbsp;
    <a href="/privacy-policy">Privacy Policy</a>
    &nbsp;|&nbsp;
    <a href="/terms-and-conditions">Terms</a>
    &nbsp;|&nbsp;
    <a href="/cookies-policy">Cookies</a>
  </p>
</footer>

  </body>
</html>
